<div class="col-lg-12">
  <%= flash[:notice] %>
    <div class="card rounded-0 mb-5 mt-5">
     <div class="card-body">
            <h2 class="text-center">All Users</h2>
      </div>
    </div>


    <table class="table table-bordered">
        <thead>
          <tr>
              <th>Name</th>
              <th>Contact</th>
              <th>E-mail</th>
              <th>Address</th>
              <th>Actions</th>
         </tr>
       </thead> 
       <tbody>
          <% @users.each do |user| %>
          <tr>
              <td><%= user.name %></td>
              <td><%= user.contact %></td>
              <td><%= user.email %></td>
              <td><%= user.full_address %></td>
              <td>
                <%= link_to "Edit", edit_user_path(user), class: "btn btn-primary" %>
              </td>
           </tr>
         <% end %>
      </tbody>
    </table>

    <div class="col-lg-2.5 mt-3">
      <%= link_to "Create New User", new_user_path, class: "btn btn-primary btn-lg rounded-0 "%>
    </div>  
</div>