<div class="col-lg-12">
    <div class="card rounded-0 mb-5 mt-5">
        <div class="card-body">
            <h2 class="text-center">User Details</h2>
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="text-center">Personal Information</h3>
                    <p class="lead"><strong>First Name:</strong> <%= @user.first_name %></p>
                    <p class="lead"><strong>Last Name:</strong> <%= @user.last_name %></p>
                    <p class="lead"><strong>Contact:</strong> <%= @user.contact %></p>
                    <p class="lead"><strong>E-mail:</strong> <%= @user.email %></p>
                    <p class="lead"><strong>Address:</strong> <%= @user.address %></p>
                    <p class="lead"><strong>City:</strong> <%= @user.city %></p>
                    <p class="lead"><strong>State:</strong> <%= @user.state %></p>
                    <p class="lead"><strong>Pincode:</strong> <%= @user.pincode %></p>
                </div>
                <div class="col-lg-6">
                    <h3 class="text-center">Address Information</h3>
                </div>    
            </div>
        </div>
    </div>
</div>